<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
  <div class="p-5" style="height:1000px;">
    <div class="table-responsive rounded-3 shadow border overflow-hidden overflow-y-scroll h-50">
      <table class="table table-striped table-hover shadow">
        <thead class="table-primary">
          <!-- Cabeçalho da tabela -->
          <tr>
            <th class="text-light col-2 bg-primary">Actions</th>
            <th class="text-light col-2 bg-primary">addition</th>
            <th class="text-light col-3 bg-primary">Class name</th>
            <th class="text-light col-2 bg-primary">Type</th>
            <th class="text-light col-2 bg-primary">Hours</th>
            <th class="text-light col-2 bg-primary">Trainer</th>
            <th class="text-light col-2 bg-primary">Spots</th>
            <th class="text-light col-2 bg-primary">Settings</th>
            <th class="text-light col-2 m-4 bg-primary">View</th>
          </tr>
        </thead>
        <tbody>
          <!-- Relação de cliente da tabela-->
          <tr v-for="item in items" :key="item.id">
            <td @click="abrirEdicaoModal(items)">
              <i data-bs-toggle="modal" data-bs-target="#janelaModal"
                class="rounded-1 bi bi-trash3 text-light bg-danger fs-5 p-2"></i>
            </td>
            <td @click="abrirEdicaoModal(items)">
              <i data-bs-toggle="modal" data-bs-target="#tableModal"
                class=" rounded-1 bi bi-person-plus link-success fs-4 p-3"></i>
            </td>
            <td>{{ item.className}}</td>
            <td>{{ item.type}}</td>
            <td>{{ item.hours}}</td>
            <td>{{ item.Trainer}}</td>
            <td>{{ item.sports}}</td>
            <td @click="abrirEdicaoModal(item)">
              <i class="bi bi-pencil-square fs-5 p-2" data-bs-toggle="modal" data-bs-target="#tableModal"></i>
            </td>
            <td><i class="bi bi-eye-fill fs-5 p-2" data-bs-toggle="modal" data-bs-target="#tableView"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- lixeira de excluir itens da tabela -->
  <div id="janelaModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Confirmação</h3>
          <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja excluir este item?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Sim</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Formulário de edição aqui -->
  <div id="tableModal" class="modal fade">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Edit</h3>
          <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div id="abrirEdicaoModal" class="modal"></div>
        <div class="modal-body">
          <form @submit.prevent="salvaAtualizacao">
            <div>
              <div class=" mb-3">
                <label for="editClassName" class="form-label">Class Name:</label>
                <input type="text" class="form-control" v-model="editarItem.editClassName" placeholder="class Name">
              </div>
            </div>
            <!-- Layout da tabela de "Edição" (Pelo amor de deus não esquecer que o "col" e filho do "row", e quanto maior o numero menor o objeto) -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="editType" class="form-label">Type:</label>
                <input type="text" class="form-control" v-model="editarItem.editType" placeholder="Type">
              </div>
              <div class="col-md-6 mb-3">
                <label for="editHours" class="form-label">Hours:</label>
                <input type="time" class="form-control" v-model="editarItem.editHours" placeholder="Hours">
              </div>
              <div class="col-md-6 mb-3">
                <label for="editTrainer" class="form-label">Trainer:</label>
                <input type="text" class="form-control" v-model="editarItem.editTrainer" placeholder="Trainer">
              </div>
              <div class="col-md-6 mb-3">
                <label for="editSports" class="form-label">Sports:</label>
                <input type="text" class="form-control" v-model="editarItem.editSports" placeholder="Sports">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>